<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Изменение профиля</title>-->
<!--</head>-->
<!--<body>-->
<!--<form th:action="${'/profile/'+profile.id+'/edit'}" method="post" th:object="${profile}">-->
<!--  <br>-->
<!--  <label>Почта</label>-->
<!--  <input th:field="*{}" type="email" name="pochta" placeholder="Введите почту" required="required">-->
<!--  <br>-->
<!--  <br>-->
<!--  <div style="width: 250px; height: 40px; margin-left: 600px" th:if="*{#fields.hasErrors('pochta')}" th:errors="*{pochta}"></div>-->
<!--  <br>-->
<!--  <label>Телефон</label>-->
<!--  <input th:field="*{phonenumber}" type="text" name="phonenumber" placeholder="Введите телефон" required="required">-->
<!--  <br>-->
<!--  <br>-->
<!--  <div style="width: 250px; height: 40px; margin-left: 600px" th:if="*{#fields.hasErrors('phonenumber')}" th:errors="*{phonenumber}"></div>-->

<!--  <button type="submit">Применить</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->